{{!-- {{#each product}}
<h1><a href="/products/product/{{this.id}}">{{this.name}}</a></h1>
<h2>Produced by: {{this.upcycler.userName}}</h2>
<p>{{this.description}}</p>
{{#if user}}
    <a href="/products/product/{{this.id}}/edit">Edit</a>
    <a href="/products/product/{{this.id}}/delete">Delete</a>
{{/if}}
{{/each}} --}}

<div>
    {{#each product}}
        <div class="profile-container">
            <img src="./images/boat.jpg"/>"
            <h3>
                {{name}}
            </h3>
            <p>
                {{description}}
            </p>
            <p><b> 
                {{weight}}
            </b></p>
            <p><b>
                  {{size}}
            </b></p>
           
          
        </div>
       
    {{/each}}
</div>


